*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/buildSrc/.gradle
/buildSrc/build
/.kotlin/errors/errors-1709036168240.log
/.kotlin/errors/errors-1709036248154.log
/.kotlin/sessions/kotlin-compiler-18191714269055164237.salive
